body {
	background: black;
    padding: 10px;
    margin: 30px;
    width: 90%;
}

.center {
 	margin-left: auto;
 	margin-right: auto;
	display: block;
}

#fb-login {
	width: 320px;
	margin-top: 40px;
	font-weight: bold;
}

#fb-login-txt {
	font-size: 24px;
	margin-left: 15px;
}

#fb-login-icon {
	font-size: 29px;
	top: 8px;
	position: relative;
}

#fb-login-icon-wrap {
	border-right: 1px solid rgba(0,0,0,0.2);
	width: 45px;
}